@import url("variables.css");

h1 {
    font-weight: bold;
    font-size: 2em !important;
    color: #d35a36;
    margin-bottom: 0 !important;
}

h2 {
    font-weight: bold;
    color: #d35a36;
}

h6 { 
    font-weight: bold;
    color: #b1624a;
}

span {
    font-weight: bold;
    font-size: 25px !important;
    color: #d35a36;
}

input {
    color: var(--light-gray) !important;
    border: 0 !important;
    border-radius: 8px 0 0 8px !important;
    box-shadow: 0px 1px 27px -12px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 45px;
}

.btn-round {
    background-color: var(--dark-orange);
    border-radius: 20px;
    padding: 5px;

    color: var(--light-orange) !important;
}

.btn-round:hover {
    background-color: var(--light-orange);
    color: var(--dark-orange) !important;
}

.btn-search {
    margin-right: 5%;

    background-color: var(--dark-orange);
    border-radius: 0  12px 12px 0 !important;
    color: #FFF1E3 !important;   
}

.btn-search:hover {
    background-color: var(--dark-orange-hover);
}

.dark-hover:hover {
    background-color: var(--dark-orange-hover);
    color: var(--light-orange) !important;
}

.drpdwn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 45px !important;
    border-radius: 12px !important;
    margin-right: 30px !important;

    color: var(--light-orange);
    background-color: var(--dark-orange);
}

.drpdwn:hover {
    color: #FFF1E3 !important;
}

::placeholder {
    color: var(--light-gray) !important; 
}

.sidebar {
    background-color: var(--card-selected);
}

/* .table-css {
    background-color: var(--card-selected);
} */

table {
    border-collapse: separate !important;
    border-spacing: 50px 0 !important;
}

th.qtd-space {
    height: 40px !important;
    width: 103px !important;
}

th.cod-space {
    height: 24px !important;
    width: 40px !important;
}

th.name-space {
    height: 24px !important;
    width: 220px !important;
}

th.ctg-space {
    height: 24px !important;
    width: 240px !important;
}