@import url("variables.css");

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: var(--dark-orange);
}

h1 {
    font-size: 2em !important;
    margin-bottom: 0 !important;
}

span {
    font-weight: bold;
    font-size: 25px !important;
    color: var(--dark-orange);
}

.nav-item {
    margin-top: 10%;
}

.btn-pdf {
    width: 167px;

    background-color: var(--dark-orange);
    color: var(--card-background) !important;   
}

.btn-pdf:hover {
    background-color: var(--dark-orange-hover);
}

.btn-download {
    background-color: transparent !important;
    border: 2px solid var(--dark-orange) !important;
    color: var(--dark-orange) !important;   
}

.btn-download:hover {
    background-color: var(--dark-orange) !important;
    color: var(--card-background) !important
}

.dark-hover:hover {
    background-color: var(--dark-orange-hover);
    color: var(--card-background) !important;
}

::placeholder {
    color: var(--light-gray) !important; 
}

.sidebar {
    background-color: var(--card-selected);
}

.date{
    background-color: var(--card-background);
}

a.details {
    cursor: pointer;
}

.table-responsive {
    overflow: -moz-scrollbars-vertical !important; 
    overflow-y: visible !important;
}

.type-style {
    width: 100%;
    color: var(--dark-orange);
}

.radio {
    background-color: var(--card-background) !important;
}

.radio:checked {
    background-color: var(--dark-orange) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23FFF1E3'/%3e%3c/svg%3e") !important;
}

thead {
    position: sticky;
    top: 0;
    background-color: white;
}

.card {
    max-height: 100% !important;
}