@import url("variables.css");

body {
	background-color: var(--background-color);
	font-family: var(--default-font);
}

.no-border:focus, .no-border:active, no-border:visited {
	box-shadow: none !important;
	border: var(--text-color) solid 3px !important;
}

input, button {
	border-radius: 8px !important;
}