@import url("variables.css");

* {
	font-family: var(--default-font);
}

body {
	background-color: var(--background-color);
}

.no-border:focus, .no-border:active, .no-border:visited {
	box-shadow: none !important;
}

.default-border:focus, .default-border:active, .default-border:visited {
	box-shadow: none !important;
	border: var(--text-color) solid 3px !important;
}

input, .btn {
	border-radius: 8px !important;
	border: 0 !important;
}

input:focus, input:active, input:visited {
	box-shadow: none !important;
}