:root {
	--background-color: #FFE6D2;
	--text-color: #F38723;
}

.default-text-color {
	color: var(--text-color) !important;
}

.default-background-color {
	background-color: var(--text-color) !important;
}

/*
font-family: -apple-system-body
font-family: -apple-system-headline
font-family: -apple-system-subheadline
font-family: -apple-system-caption1
font-family: -apple-system-caption2
font-family: -apple-system-footnote
font-family: -apple-system-short-body
font-family: -apple-system-short-headline
font-family: -apple-system-short-subheadline
font-family: -apple-system-short-caption1
font-family: -apple-system-short-footnote
font-family: -apple-system-tall-body
*/

/*@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url('../fonts/SF-Pro-Rounded'); /* IE9 Compat Modes 
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 
       url('webfont.woff') format('woff'), /* Modern Browsers 
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS 
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS 
}*/