:root {
	--background-color: #FFE6D2;
	--text-color: #F38723;
  --light-black: #1B1B1B;
  --btn-hover-color: #DA6E0A;
  --logout-background-color: rgba(255, 79, 79, 0.44);
  --logout-hover-background-color: rgba(255, 79, 79, 0.88);

	--default-font: SF-Regular;
}

.default-text-color {
	color: var(--text-color) !important;
}

.default-background-color {
	background-color: var(--text-color) !important;
}

@font-face {
  font-family: 'SF-Rounded-Regular';
  src: url('../fonts/SF-Rounded-Regular/sf-rounded-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SF-Rounded-Regular/sf-rounded-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SF-Rounded-Regular/sf-rounded-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SF-Rounded-Regular/sf-rounded-regular.woff') format('font-woff'), /* Pretty Modern Browsers */
       url('../fonts/SF-Rounded-Regular/sf-rounded-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SF-Rounded-Regular/sf-rounded-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'SF-Regular';
  src: url('../fonts/SF-Regular/sf-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SF-Regular/sf-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SF-Regular/sf-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SF-Regular/sf-regular.woff') format('font-woff'), /* Pretty Modern Browsers */
       url('../fonts/SF-Regular/sf-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SF-Regular/sf-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'SF-Medium';
  src: url('../fonts/SF-Medium/sf-medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SF-Medium/sf-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SF-Medium/sf-medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SF-Medium/sf-medium.woff') format('font-woff'), /* Pretty Modern Browsers */
       url('../fonts/SF-Medium/sf-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SF-Medium/sf-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'SF-Bold';
  src: url('../fonts/SF-Bold/sf-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SF-Bold/sf-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SF-Bold/sf-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SF-Bold/sf-bold.woff') format('font-woff'), /* Pretty Modern Browsers */
       url('../fonts/SF-Bold/sf-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SF-Bold/sf-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}