<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
   .bg-orange {
      background-color: #F38723;
   }

   .bg-lightorange {
      background-color: #FFE6D2;
   }

   .btn.bg-orange:hover{
      background-color: #DA6E0A;
   }
 </style>
</head>
<body class="bg-lightorange">
  <div class="container">
    <img class="ax-center my-10 w-48" src="cid:logo" />
    <div class="card p-6 p-lg-10 space-y-4">
      <h1 class="h3 text-center fw-700">
        Olá, {{NOME}}!
      </h1>
      <p class="text-center">
        Recebemos um pedido de recuperação de senha.<br>
        Esqueceu sua senha e precisa recupera-lá?<br><br>
      </p>
      <div class="text-center">
        Seu código de segurança:
        <h2 class="bg-orange rounded text-center text-white fw-700" style="max-width: 160px; padding: 1%;">{{CODIGO}}</h2>
        <br>

        <a class="btn bg-orange p-3 fw-700" href="https://app.bootstrapemail.com/templates">Recuperar Senha</a>
      </div>
    </div>
    <div class="text-muted text-center my-6">
      Enviado por Casa Linda.
    </div>
  </div>
</body>
</html>